In [32]:
import pandas as pd

```bash
pip install sqlalchemy psycopg2-binary 
```

In [33]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5433/ny_taxi')

In [6]:
engine.connect()

In [7]:
query = """
SELECT 1 as number;
"""

pd.read_sql(query, con=engine)

   number
0       1

In [8]:
query = """
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
"""

pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_trips,root,None,True,False,False,False
1,public,taxi_zones,root,None,True,False,False,False
2,public,green_taxi_trips,root,None,True,False,False,False

## Question 3. Trip Segmentation Count

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, **respectively**, happened:
1. Up to 1 mile
2. In between 1 (exclusive) and 3 miles (inclusive),
3. In between 3 (exclusive) and 7 miles (inclusive),
4. In between 7 (exclusive) and 10 miles (inclusive),
5. Over 10 miles

In [28]:
#Describing the table columns
green_tx_clms = """
SELECT column_name, data_type, is_nullable 
FROM information_schema.columns 
WHERE table_name = 'green_taxi_trips' AND table_schema = 'public';
"""
pd.read_sql(green_tx_clms, con=engine)

              column_name                    data_type is_nullable
0                   index                       bigint         YES
1                VendorID                       bigint         YES
2    lpep_pickup_datetime  timestamp without time zone         YES
3   lpep_dropoff_datetime  timestamp without time zone         YES
4      store_and_fwd_flag                         text         YES
5              RatecodeID                       bigint         YES
6            PULocationID                       bigint         YES
7            DOLocationID                       bigint         YES
8         passenger_count                       bigint         YES
9           trip_distance             double precision         YES
10            fare_amount             double precision         YES
11                  extra             double precision         YES
12                mta_tax             double precision         YES
13             tip_amount             double precision         YES
14           tolls_amount             double precision         YES
15              ehail_fee             double precision         YES
16  improvement_surcharge             double precision         YES
17           total_amount             double precision         YES
18           payment_type                       bigint         YES
19              trip_type             double precision         YES
20   congestion_surcharge             double precision         YES

In [44]:
trip_segmentation = """
SELECT SUM(
    CASE WHEN trip_distance <= 1.99 THEN 1 ELSE 0 END
    ) AS "Up_to_1_Mile",
    SUM(
    CASE WHEN trip_distance BETWEEN 2.0 AND 3.99 THEN 1 ELSE 0 END
    ) AS "2_To_3_Miles",
    SUM(
    CASE WHEN trip_distance BETWEEN 4.0 AND 7.99 THEN 1 ELSE 0 END
    ) AS "4_To_7_Miles",
    SUM(
    CASE WHEN trip_distance BETWEEN 8.0 AND 10.99 THEN 1 ELSE 0 END
    ) AS "8_To_10_Miles",
    SUM(
    CASE WHEN trip_distance >10 THEN 1 ELSE 0 END
    ) AS "Over_10_Miles"
FROM public.green_taxi_trips
WHERE --(lpep_dropoff_datetime::date BETWEEN '2019-10-01' AND '2019-10-31')
   -- AND 
   (lpep_pickup_datetime::date BETWEEN '2019-10-01' AND '2019-10-31')
"""

pd.read_sql(trip_segmentation, con=engine)

   Up_to_1_Mile  2_To_3_Miles  4_To_7_Miles  8_To_10_Miles  Over_10_Miles
0        230881        117489         77149          21090          35201

## Question 4. Longest trip for each day

Which was the pick up day with the longest trip distance?
Use the pick up time for your calculations.

Tip: For every day, we only care about one single trip with the longest distance.

In [46]:
# Getting the longest trip each day
longest_trip_per_day = """
SELECT lpep_pickup_datetime::date as day, MAX(lpep_dropoff_datetime - lpep_pickup_datetime) longest_trip_time 
FROM public.green_taxi_trips
GROUP BY lpep_pickup_datetime::date
ORDER BY longest_trip_time desc
"""
pd.read_sql(longest_trip_per_day, con=engine)

           day longest_trip_time
0   2019-10-10   3 days 21:50:28
1   2019-10-01   1 days 03:53:04
2   2019-10-07   1 days 02:03:14
3   2019-10-19   0 days 23:59:58
4   2019-10-11   0 days 23:59:47
5   2019-10-09   0 days 23:59:46
6   2019-10-16   0 days 23:59:36
7   2019-10-17   0 days 23:59:28
8   2019-10-18   0 days 23:59:21
9   2019-10-29   0 days 23:59:19
10  2019-10-03   0 days 23:59:13
11  2019-10-27   0 days 23:59:13
12  2019-10-05   0 days 23:59:09
13  2019-10-08   0 days 23:59:08
14  2019-10-30   0 days 23:59:06
15  2019-10-26   0 days 23:58:59
16  2019-10-31   0 days 23:58:48
17  2019-10-28   0 days 23:58:44
18  2019-10-23   0 days 23:58:41
19  2019-10-04   0 days 23:58:37
20  2019-10-13   0 days 23:58:30
21  2019-10-12   0 days 23:58:23
22  2019-10-24   0 days 23:58:13
23  2019-10-21   0 days 23:57:08
24  2019-10-15   0 days 23:56:51
25  2019-10-02   0 days 23:56:35
26  2019-10-22   0 days 23:56:30
27  2019-10-20   0 days 23:56:09
28  2019-10-06   0 days 23:55:45
29  2019-10-25   0 days 23:55:43
30  2019-10-14   0 days 23:52:51
31  2008-12-31   0 days 19:07:20
32  2010-09-23   0 days 13:16:34
33  2019-11-01   0 days 00:37:46
34  2009-01-01   0 days 00:15:46
35  2019-11-13   0 days 00:11:34
36  2019-09-19   0 days 00:10:16
37  2019-11-08   0 days 00:07:24
38  2019-09-30   0 days 00:05:21
39  2008-10-21   0 days 00:02:21

In [18]:
# Converting the pickup and dropoff to appropriate date format
green_taxi_trips_df.lpep_pickup_datetime = pd.to_datetime(green_taxi_trips_df.lpep_pickup_datetime )
green_taxi_trips_df.lpep_dropoff_datetime = pd.to_datetime(green_taxi_trips_df.lpep_dropoff_datetime)

In [19]:
# confirming the data types of all the columns
green_taxi_trips_df.dtypes

index                             int64
VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                        object
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
dtype: object

## Question 5. Three biggest pickup zones

Which were the top pickup locations with over 13,000 in
`total_amount` (across all trips) for 2019-10-18?

Consider only `lpep_pickup_datetime` when filtering by date.

## Question 6. Largest tip

For the passengers picked up in Ocrober 2019 in the zone
name "East Harlem North" which was the drop off zone that had
the largest tip?

Note: it's `tip` , not `trip`

We need the name of the zone, not the ID.

In [19]:
query = """
SELECT * FROM yellow_tripdata_trip LIMIT 10
"""

pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
5,1,2021-01-01 00:16:29,2021-01-01 00:24:30,1,1.60,1,N,224,68,1,8.0,3.0,0.5,2.35,0.0,0.3,14.15,2.5
6,1,2021-01-01 00:00:28,2021-01-01 00:17:28,1,4.10,1,N,95,157,2,16.0,0.5,0.5,0.00,0.0,0.3,17.30,0.0
7,1,2021-01-01 00:12:29,2021-01-01 00:30:34,1,5.70,1,N,90,40,2,18.0,3.0,0.5,0.00,0.0,0.3,21.80,2.5
8,1,2021-01-01 00:39:16,2021-01-01 01:00:13,1,9.10,1,N,97,129,4,27.5,0.5,0.5,0.00,0.0,0.3,28.80,0.0
9,1,2021-01-01 00:26:12,2021-01-01 00:39:46,2,2.70,1,N,263,142,1,12.0,3.0,0.5,3.15,0.0,0.3,18.95,2.5

```sql
SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';
```

Source: https://www.postgresqltutorial.com/postgresql-show-tables/